@import "./font-awesome/scss/font-awesome";
@import "common";
@import "header";
body {
    margin: 0px;
    font-family: Microsoft Yahei;
}

.container {
    width: 980px;
    padding-top: 20px;
    margin: 0px auto;
    @include respond-to(handhelds) {
        width: 100%;
    }
    @include respond-to(medium-screens) {
        width: 720px;
    }
    @include respond-to(wide-screens) {
        width: 980px;
    }
}

a {
    color: black;
    text-decoration: none;
    &:hover {
        color: rgb(0, 128, 255);
    }
}